---
nodejs_executable: /usr/bin/node

nodejs_dev_executable: /usr/bin/nodemon

nodejs_app_user_shell: /sbin/nologin

nodejs_app_home_dir: /var/empty/nodejs

nodejs_lts_centos_repository_rpm: https://rpm.nodesource.com/pub_4.x/el/7/x86_64/nodesource-release-el7-1.noarch.rpm

nodejs_lts_fedora_repository_rpm: https://rpm.nodesource.com/pub_4.x/fc/24/x86_64/nodesource-release-fc24-1.noarch.rpm

nodejs_current_centos_repository_rpm: https://rpm.nodesource.com/pub_6.x/el/7/x86_64/nodesource-release-el7-1.noarch.rpm

nodejs_current_fedora_repository_rpm: https://rpm.nodesource.com/pub_6.x/fc/24/x86_64/nodesource-release-fc24-1.noarch.rpm

nodejs_rpm_packages:
  - git
  - gcc-c++

nodejs_npm_packages:
  - grunt-cli

# Required for a Windows/npm path workaround, documented on the following page as "Step 3":
# http://perrymitchell.net/article/npm-symlinks-through-vagrant-windows/
nodejs_app_tmp_build_dir: "/tmp/{{ nodejs_app_name  }}-build-dir"

