[Unit]
Description={{ nodejs_app_name }}

[Service]
WorkingDirectory={{ nodejs_app_install_dir }}
{% if nodejs_app_dev_env %}
ExecStart={{ nodejs_dev_executable }} -L {% if nodejs_app_monitor_file_extensions %} -e {{ nodejs_app_monitor_file_extensions|join(',') }} {% endif %} {{ nodejs_app_start_script }}
{% else %}
ExecStart={{ nodejs_executable }} {{ nodejs_app_start_script }}
{% endif %}
{% if nodejs_app_dev_env or is_vagrant %}
User={{ nodejs_app_dev_username }}
Group={{ nodejs_app_dev_groupname }}
{% else %}
User={{ nodejs_app_username }}
Group={{ nodejs_app_groupname }}
{% endif %}
Restart=on-failure
StandardOutput=journal
StandardError=journal
# Include the secret file maintained by the https://github.com/idi-ops/ansible-secrets role if it
# exists.
EnvironmentFile=-/etc/sysconfig/app-secrets
{% if nodejs_app_env_vars or nodejs_app_tcp_port %}
Environment={% for arg in nodejs_app_env_vars %}{{ arg }}{% if not loop.last %} {% endif %}{% endfor %}{% if nodejs_app_tcp_port %} {{ nodejs_app_name|upper|replace('-','_') }}_TCP_PORT={{ nodejs_app_tcp_port }}{% endif %}
{% endif %}


[Install]
WantedBy=multi-user.target
