- template: src=nginx.conf dest=/etc/nginx/conf.d/{{servername}}.conf
  notify: nginx_restart
- include: templates/install_tex.yml
  when: tex

- set_fact: 
     extensions2install: "{{ extensions }}"
- set_fact: 
     extensions2install: "{{ extensions + wysiwyg_extensions }}"
  when: wysiwyg
#- include: templates/install_ext_stage1.yml 
- include: templates/install_ext.yml item={{ item }}
  with_items: "{{ extensions2install }}"
- include: templates/install_ext_stage2.yml item={{ item }}
  with_items: "{{ extensions2install }}"
  
- file: path={{imagesdir}}  state=directory owner=apache group=apache
- name: CheckDB
  shell: "mysql -e 'SHOW DATABASES;' | grep {{dbname}}"
  register: dbstatus
  ignore_errors: True    
  failed_when: 0

- mysql_db: name="{{dbname}}" state=present encoding=utf8 collation=utf8_general_ci
- mysql_user: name="{{dbname}}" password="{{dbname}}" priv=*.*:ALL state=present

- name: LocalSettings
  template: src=LocalSettings.php dest="{{basedir}}/{{state}}/"
  notify: php-fpm_restart

- block:
    - name: CreateDB
      shell: php maintenance/patchSql.php maintenance/tables.sql
      args:
        chdir: "{{basedir}}/{{state}}"
      notify:
      - php-fpm_restart
      - nginx_restart
    - shell: php maintenance/createAndPromote.php --bureaucrat WikiAdmin {{ wikiadminpass }}
      args:
        chdir: "{{basedir}}/{{state}}"
  when: dbstatus.rc==1
- service: name=searchd enabled=yes state=stopped
- service: name=searchd enabled=yes state=started
- name: Update DB
  shell: php maintenance/update.php
  args:
    chdir: "{{basedir}}/{{state}}"
  notify:
  - php-fpm_restart
  - nginx_restart
- include: templates/install_sphinx.yml 
- name: "Rebuild Sphinx"
  shell: php extensions/SphinxSearchEngine/rebuild-sphinx.php
  args:
    chdir: "{{basedir}}/{{state}}"


